In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import openpyxl

In [2]:
# Import csv file and convert to pandas dataframe
csv_file = "netflix_titles.csv"
netflix_df = pd.read_csv(csv_file)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [16]:
# Check all of the column names
netflix_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [23]:
# Drop unneccesary columns
netflix_clean = netflix_df.drop(columns=['show_id', 'director', 'cast', 'country',\
                                         'listed_in', 'description', 'duration']).copy()

In [24]:
netflix_clean.head()

      type                  title          date_added  release_year rating
0    Movie   Dick Johnson Is Dead  September 25, 2021          2020  PG-13
1  TV Show          Blood & Water  September 24, 2021          2021  TV-MA
2  TV Show              Ganglands  September 24, 2021          2021  TV-MA
3  TV Show  Jailbirds New Orleans  September 24, 2021          2021  TV-MA
4  TV Show           Kota Factory  September 24, 2021          2021  TV-MA

In [6]:
# Import json file and convert to pandas dataframe
json_file = "movie.json"
imdb_df = pd.read_json(json_file)
imdb_df.head()

,title,rating,year,users_rating,votes,metascore,img_url,countries,languages,actors,genre,tagline,description,directors,runtime,imdb_url
0,A Rainy Day in New York,PG-13,2019.0,6.6,"21,903",44.0,https://m.media-amazon.com/images/M/MV5BODAwZD...,[USA],[English],"[Timothée Chalamet, Elle Fanning, Liev Schreib...","[Comedy, Romance]",None,A young couple arrives in New York for a weeke...,[Woody Allen],92 min,https://www.imdb.com/title/tt7139936/
1,Murder Manual,18,2020.0,2.4,192,NaN,https://m.media-amazon.com/images/M/MV5BMDI5ZD...,[USA],[English],"[Emilia Clarke, Hadley Fraser, Sylvia Panacion...","[Horror, Thriller]","When it comes to murder, they wrote the book","Creepy, terrifying chapters from our book of h...","[Michael Escobedo, Kelly Hallmark, 4 more cred...",91 min,https://www.imdb.com/title/tt12384178/
2,Ferris Bueller's Day Off,PG-13,1986.0,7.8,"308,847",61.0,https://m.media-amazon.com/images/M/MV5BMDA0Nj...,[USA],"[English, German]","[Matthew Broderick, Alan Ruck, Mia Sara, Jeffr...",[Comedy],Because life is too beautiful a thing to waste.,A high school wise guy is determined to have a...,[John Hughes],103 min,https://www.imdb.com/title/tt0091042/
3,Cape Fear,R,1991.0,7.3,"165,628",73.0,https://m.media-amazon.com/images/M/MV5BNjdhNz...,[USA],[English],"[Robert De Niro, Nick Nolte, Jessica Lange, Ju...","[Crime, Thriller]",There is nothing in the dark that isn't there ...,"A convicted rapist, released from prison after...",[Martin Scorsese],128 min,https://www.imdb.com/title/tt0101540/
4,Mean Girls,PG-13,2004.0,7.0,"320,492",66.0,https://m.media-amazon.com/images/M/MV5BMjE1MD...,"[USA, Canada]","[English, German, Vietnamese, Swahili]","[Lindsay Lohan, Rachel McAdams, Tina Fey, Tim ...",[Comedy],Survival of the Ruthless,"Cady Heron is a hit with The Plastics, the A-l...",[Mark Waters],97 min,https://www.imdb.com/title/tt0377092/

In [7]:
# Check all of the column names
imdb_df.columns

Index(['title', 'rating', 'year', 'users_rating', 'votes', 'metascore',
       'img_url', 'countries', 'languages', 'actors', 'genre', 'tagline',
       'description', 'directors', 'runtime', 'imdb_url'],
      dtype='object')

In [15]:
# Remove unnecessary columns
imdb_clean = imdb_df.drop(columns=['rating', 'year', 'img_url', 'countries', 'languages',\
                                   'actors', 'genre', 'tagline', 'description', 'directors',\
                                  'runtime']).copy()

In [39]:
# Remove commas from votes column to allow values to be int
imdb_clean['votes'] = imdb_clean['votes'].str.replace(',', '')

In [40]:
imdb_clean.head()

,title,users_rating,votes,metascore,imdb_url
0,A Rainy Day in New York,6.6,21903,44.0,https://www.imdb.com/title/tt7139936/
1,Murder Manual,2.4,192,NaN,https://www.imdb.com/title/tt12384178/
2,Ferris Bueller's Day Off,7.8,308847,61.0,https://www.imdb.com/title/tt0091042/
3,Cape Fear,7.3,165628,73.0,https://www.imdb.com/title/tt0101540/
4,Mean Girls,7.0,320492,66.0,https://www.imdb.com/title/tt0377092/

In [21]:
# Connect to local db
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'im_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [44]:
# check to make sure table names exist
engine.table_names()

['netflix', 'imdb']

In [42]:
# Load csv-converted dataframe into to SQL
netflix_clean.to_sql(name='netflix', con=engine, if_exists='append', index=False)

In [43]:
# Load json-converted dataframe into to SQL
imdb_clean.to_sql(name='imdb', con=engine, if_exists='append', index=False)